<ng-container *ngIf="{ productResult: productResult$ | async } as config">
  <table class="table table-striped" *ngIf="product">
    <tr>
      <th>
        Product name
      </th>
      <td>
        {{ product.name }}
      </td>
    </tr>
    <tr>
      <th>
        Product view
      </th>
      <td>
        <div class="d-flex">
          <!--        <div class="d-flex flex-wrap">-->
          <div class="p-1" *ngFor="let image of product.images">
            <img src="{{ image }}" class="card-img-top" alt="...">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        Product description
      </th>
      <td>
        {{ product.description }}
      </td>
    </tr>
    <tr>
      <th>
        Size variants
      </th>
      <td>
        <div class="d-flex flex-wrap">
          <div class="p-1" *ngFor="let size of product.sizeList">
            <button
              [class.btn-light]="size !== config.productResult?.size"
              [class.btn-secondary]="size === config.productResult?.size"
              class="btn"
              (click)="setSize(size)">
              {{ size }}
            </button>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        Cornicione variants
      </th>
      <td>
        <div class="d-flex flex-wrap">
          <div class="p-1" *ngFor="let cornicione of product.cornicioneTypeList">
            <button
              [class.btn-light]="cornicione !== config.productResult?.cornicioneType"
              [class.btn-secondary]="cornicione === config.productResult?.cornicioneType"
              class="btn"
              (click)="setCornicione(cornicione)">
              {{ cornicione }}
            </button>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        Toppings variants
      </th>
      <td>
        <div class="d-flex flex-wrap">
          <div class="p-1" *ngFor="let topping of product.toppingList">
            <button
              [class.btn-light]="topping !== config.productResult?.topping"
              [class.btn-secondary]="topping === config.productResult?.topping"
              class="btn"
              (click)="setTopping(topping)">
              {{ topping }}
            </button>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        Cheese variants
      </th>
      <td>
        <div class="d-flex flex-wrap">
          <div class="p-1" *ngFor="let cheese of product.cheeseList">
            <button
              [class.btn-light]="cheese !== config.productResult?.cheese"
              [class.btn-secondary]="cheese === config.productResult?.cheese"
              class="btn"
              (click)="setCheese(cheese)">
              {{ cheese }}
            </button>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        Crust variants
      </th>
      <td>
        <div class="d-flex flex-wrap">
          <div class="p-1" *ngFor="let crust of product.crustTypeList">
            <button
              [class.btn-light]="crust !== config.productResult?.crustType"
              [class.btn-secondary]="crust === config.productResult?.crustType"
              class="btn"
              (click)="setCrust(crust)">
                {{ crust }}
            </button>
          </div>
        </div>
      </td>
    </tr>
  </table>

  <div class="d-flex flex-column mt-4">
    <div class="p-1">
      <h3>
        Final
      </h3>
    </div>
    <div class="p-1" *ngIf="productResult$ | async as productResult">
      <table class="table table-striped" style="width: 400px">
        <tr>
          <th>Size</th>
          <td>{{ productResult.size }}</td>
        </tr>
        <tr>
          <th>Cornicione</th>
          <td>{{ productResult.cornicioneType }}</td>
        </tr>
        <tr>
          <th>Topping</th>
          <td>{{ productResult.topping }}</td>
        </tr>
        <tr>
          <th>Cheese</th>
          <td>{{ productResult.cheese }}</td>
        </tr>
        <tr>
          <th>Crust</th>
          <td>{{ productResult.crustType }}</td>
        </tr>
<!--        <tr>-->
<!--          <th>Result price</th>-->
<!--          <td>{{ productResult.price }}</td>-->
<!--        </tr>-->
      </table>
    </div>
  </div>
<!--  <div class="d-flex flex-column mt-4">-->
<!--    <button type="button" class="btn btn-primary" [disabled]="!(_form.valid)" (click)="addToCart()">Buy</button>-->
<!--  </div>-->
</ng-container>
