<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course Details</title>

    <style>
        table, th, td {
            border: 1px solid black;
            height: 50px;

        }

        th, td {
            padding: 5px;
        }

        #bottomButtonAdd, #bottomButtonAll {
            padding-right: 40px;
        }
    </style>
</head>
<body>
<h1>Course</h1>
<table>
    <thead>
    <tr>
        <!--    <th>id</th>-->
        <th>Title</th>
        <th>Month duration</th>
        <th>Students</th>
    </tr>
    </thead>
    <tbody>
    <td th:text="${course.getTitle()}"></td>
    <td th:text="${course.getMouthDuration()}"></td>
    <td>
        <table>
            <tr th:each="student : ${students}">
                <td>
                    <a role="button"
                       th:href="@{'/students/findById/' + ${student.getId()}}"
                       th:text="${student.getFirstName()}
                       + ' ' + ${student.getLastName()}
                       + ' ' + ${student.getYear()} + ' ' + 'year'"
                    ></a>
                </td>
                <td>
                    <a role="button"
                       th:href="@{/courses/purgeStudent/{studentId}/{courseId}(studentId=${student.getId()}, courseId=${course.getId()})}"
                    >
                        <button>delete from course</button>
                    </a>
                </td>

            </tr>
        </table>
    </td>
    </tbody>
</table>
<a th:href="@{'/courses'}" role="button" id="bottomButtonAll">
    <button>All Courses</button>
</a>
<a th:href="@{'/courses/addStudentsToCourse/'+${course.getId()}}" role="button" id="bottomButtonAdd">
    <button>Add Student</button>
</a>


</body>
</html>