<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Student</title>
</head>
<body>
<h1>New student</h1>
<form id="studentFields" th:action="@{/students/new}" th:object="${studentDto}" method="post">

    <div><label for="firstName">First Name</label>
        <input id="firstName" placeholder="enter first name" th:field="*{firstName}"
               type="text"></div>

    <div><label for="lastName">Last Name</label>
        <input id="lastName" placeholder="enter last name" th:field="*{lastName}"
               type="text"></div>

    <div><label for="year">Year</label>
        <input id="year" placeholder="enter year of studying (course)" th:field="*{year}"
               type="number"></div>

    <div><label for="courses">Course</label>
        <select name="courses" id="courses" multiple="multiple" th:field="*{coursesId}">
            <option th:required="required" th:each="course : ${courses}"
                    th:value="${course.getId()}" th:text="${course.getTitle()}">
            </option>
        </select></div>

    <div>
        <button type="submit">SUBMIT!</button>
    </div>
</form>
<a th:href="@{'/students'}" role="button">
    <button>All Students</button>
</a>

</body>
</html>